<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>

  <link rel="icon" href="logo.ico">
  <link rel="manifest" href="app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restaurant Apps</title>
</head>
<body>
    <header class="app-bar">
      <a href="#mainContent" class="skip-link">Skip to content?</a>
      <div class="app-bar__menu">
        <button aria-label="Hamburger Button" id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Restaurant Catalogue</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/restaurants">Restaurants</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/elsa-syakira-82aa07252/" target="_blank" rel="noreferrer">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Restaurant Famous</h1>
        <p class="hero__subtitle">Here comes a website that provides the best restaurants</p>
      </div>
    </div>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank"
          rel="noreferrer">Restaurant-API-Dicoding</a> Copyright © 2022 - Restaurant Famous</p>
    </footer>
  </body>
</html>